# Terraform local files
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Secrets and private keys
*.pem
*.key

# Local app/build artifacts
/angular/
node_modules/
dist/
